* {
  font-family: arial;
}

body {
  width: 400px;
  max-height: 420px;
  /* border: 1px dashed red; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border: 1px solid black;
  height: 12%;
}

nav .header {
  margin-left: 0px;
}

nav h2 {
  margin-left: 0px;
}
nav .buttons {
  margin-right: 20px;
}

.snippets {
  display: flex;
  height: 87%;
  flex-direction: column;
  /* border: 1px dashed green; */
  margin: 0;
}

.snippets1,
.snippets3 {
  /* background-color: rgba(239, 239, 240, 0.8); */
  background-color: rgba(97, 145, 215, 0.2);
  border: 1px solid black;
  height: 90px;
  margin-top: 0;
  margin: 0;
  cursor: pointer;
}

.snippets2,
.snippets4 {
  border: 1px solid black;
  height: 25%;
  height: 90px;
  margin-top: 0;
  margin: 0;
  cursor: pointer;
}

.snippets1:hover,
.snippets3:hover {
  background-color: rgba(97, 145, 215, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.snippets2:hover,
.snippets4:hover {
  background-color: rgba(239, 239, 240, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.snippets1 p,
.snippets2 p,
.snippets3 p,
.snippets4 p {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin: 0;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  max-height: 47px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.snippets1 h4,
.snippets2 h4,
.snippets3 h4,
.snippets4 h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  max-height: 20px;
  margin: 6px;
  margin-left: 6px;
  margin-right: 6px;
  word-wrap: break-word;
  overflow: hidden;
}

#expand {
  height: 11px;
  width: 11px;
}

a {
  text-decoration: none;
}
